<?xml version="1.0"?>
<!--
/**
 * Copyright © DMLab. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="DmLab_TypesenseInstantSearch" setup_version="0.0.1">
        <sequence>
            <module name="DmLab_TypesenseCore"/>
            <module name="DmLab_TypesenseIndexer"/>
            <module name="Magento_Catalog"/>
            <module name="Magento_CatalogSearch"/>
            <module name="Magento_Customer"/>
            <module name="Magento_Search"/>
            <module name="Magento_Csp"/>
        </sequence>
    </module>
</config>
