<?xml version="1.0"?>
<!--
/**
 * Copyright © MageDevGroup. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="typesense" frontName="typesense">
            <module name="MageDevGroup_TypesenseInstantSearch"/>
        </route>
    </router>
</config>
